# Gradle
.gradle/
build/
out/
classes/
logs/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.settings/
.vscode/
bin/
.classpath
.project

# Fabric
run/
*.launch

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

desktop.ini